{{#if userInSession}}
  <h3>Welcome, {{userInSession.username}}</h3>

  {{! <button> <a href="/auth/profile"> Reload! </a></button> }}

  <button>
    <a href="/personal-info/{{userInSession._id}}">
      Personal Info
    </a>
  </button>

{{else}}

  <p>There is no one in the session</p>

{{/if}}