{{! <h2> Create a new account</h2> }}

{{! <form action="/auth/signup" method="post">
  <label>
    First Name:
    <input type="text" name="firstName" required />
  </label>
  <br />
  <label>
    Last Name:
    <input type="text" name="lastName" required />
  </label>
  <br />
  <label>
    Username:
    <input type="text" name="username" required />
  </label>
  <br />
  <label for="">
    Email:
    <input type="email" name="email" required />
  </label>
  <br />
  <label for="">
    Password
    <input type="password" name="password" required />
  </label>

  <br />
  <button type="submit" class="btn btn-info">Sign Up</button>
</form> }}

{{#if errorMessage}}
  <p><b> {{errorMessage}}</b></p>
{{/if}}

<div class="form-bg">
  <div class="container">
    <div class="row">
      <style>
        .row { display: flex; justify-content: center; align-items: center;
        margin-top: 100px; }
      </style>
      <div class="col-md-offset-3 col-md-6">
        <div class="form-container">
          <h3 class="title">Create a new account</h3>
          <form class="form-horizontal" action="/auth/signup" method="post">

            <div class="form-group">
              <label>Email</label>
              <input
                type="email"
                class="form-control"
                placeholder="Email Address"
                name="email"
                required
              />
            </div>
            <div class="form-group">
              <label>Password</label>
              <input
                type="password"
                class="form-control"
                placeholder="Password"
                name="password"
                required
              />
            </div>
            <h4 class="sub-title">Personal Information</h4>
            <div class="form-group">
              <label>First name</label>
              <input
                type="text"
                class="form-control"
                placeholder="First Name"
                name="firstName"
                required
              />
            </div>
            <div class="form-group">
              <label>Last name</label>
              <input
                type="text"
                class="form-control"
                placeholder="Last Name"
                name="lastName"
                required
              />
            </div>
            <div class="form-group">
              <label>Phone No.</label>
              <input
                type="text"
                class="form-control"
                placeholder="Phone Number"
                name="phoneNumber"
              />
            </div>
            <div class="check-terms">
              <input type="checkbox" class="checkbox" required />
              <span class="check-label">I agree to the terms</span>
            </div>
            <span class="signin-link">Already have an account? Click here to
              <a href="/auth/login">Login</a></span>
            <button class="btn btn-info">Create Account</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>