<h2> Create a new account</h2>

<form action="/auth/signup" method="post">
  <label>
    First Name:
    <input type="text" name="firstName" required />
  </label>
  <br />
  <label>
    Last Name:
    <input type="text" name="lastName" required />
  </label>
  <br />
  <label>
    Username:
    <input type="text" name="username" required />
  </label>
  <br />
  <label for="">
    Email:
    <input type="email" name="email" required />
  </label>
  <br />
  <label for="">
    Password
    <input type="password" name="password" required />
  </label>

  <br />
  <button type="submit" class="btn btn-info">Sign Up</button>
</form>

{{#if errorMessage}}
  <p><b> {{errorMessage}}</b></p>
{{/if}}