<h2> List of Users </h2>

<ul>
  {{#each users}}
    {{#if_eq userType "user"}}
      <br />
      <li><a href="/user-details/{{_id}}"> {{firstName}} {{lastName}} </a></li>
    {{/if_eq}}
  {{/each}}
</ul>

<button class="btn btn-outline-primary" onclick="history.back()">Go Back</button>