<h1>{{appTitle}} 🚀</h1>
<p>Welcome Ironhacker!</p>
<nav>
  {{#if userInSession}}
    <a href="/auth/profile">PROFILE</a><br />
    <form action="/logout" method="post">
      <button>Logout</button>
    </form>

  {{else}}
    <a href="/auth/login">LOG IN</a>
    <a href="/auth/signup">SIGN UP</a>

  {{/if}}

</nav>