<h2> Personal Information </h2>

<form action="/personal-info/{{userInfo._id}}" method="POST">
  <label>
    First Name:
    <input type="text" name="firstName" value="{{userInfo.firstName}}" />
  </label>
  <br />
  <label>
    Last Name:
    <input type="text" name="lastName" value="{{userInfo.lastName}}" />
  </label>
  <br />
  <label>
    Date of Birth:
    <input type="date" name="birthday" value="{{userInfo.birthday}}" />
  </label>
  <br />
  <button class="btn btn-info">
    Save
  </button>
</form>